{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div>
    <p class='paragraph-12'>Hello World</p>
    <p class='paragraph-24'>Hello World</p>
    <p class='paragraph-36'>Hello World</p>
    <p class='paragraph-48'>Hello World</p>

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}